.container {
  align-content: center;
  background-color: rgb(81, 117, 105);
  padding: 1px 2em 15px;
  margin: 5%;
  border: 8px solid darkgreen;
  text-align: center;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 18pt;
  font-variant: small-caps;
  font-weight: 800;
}

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(7, 34, 94);
}

#title {
  text-align: center;
  font-family: sans-serif;
  text-shadow: 1px 0px 10px blue;
}

#buttons {
  align-content: center;
  padding: 15px 22em 15px;
}
