* {
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #333;
}



#user button,
#computer .computer-choice {
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  width: 275px;
  height: 300px;
  background-size: cover;
  box-sizing: border-box;
}

#user button#rock {
  background: url(assets/rock.png) 50% no-repeat;
}

#user button#paper {
  background: url(assets/paper.png) 50% no-repeat;
}

#user button#scissors {
  background: url(assets/scissors.png) 50% no-repeat;

}

#computerRock {
  background: url(assets/rockHandIcon.png) 50% no-repeat;
}

#computerPaper {
  background: url(assets/paperHandIcon.png) 50% no-repeat;
}

#computerScissors {
  background: url(assets/scissorHandIcon.png) 50% no-repeat;
}