.container {
    align-content: center;
    background-color: rgb(81, 117, 105);
    padding: 1px 2em 15px;
    margin: 1em;
    border: 8px solid rgb(4, 4, 54);
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 18pt;
    font-variant: small-caps;
    font-weight: 800;
}

html,
body {
    padding: 0;
    margin: 0;
    background: rgb(180, 73, 11);
}

#title {
    text-align: center;
    font-family: sans-serif;
}